{% extends "base.html" %}
{% load static %}

{% block page_header%}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="index-img">
        </div>
        <div class="h-100 text-center">
            <div class="col-7-col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    Welcome to Unknown Possibilities!
                </h1>
                    <p class="text-black">Here you can travel between Tarot decks, Runes, Crystals and Readings done by me.</p>
            </div>
            <div>
                <a href="" class="btn btn-own-style btn-lg text-uppercase py-3">Tarot Decks</a>
                <a href="" class="btn btn-own-style btn-lg text-uppercase py-3">Runes</a>
                <a href="" class="btn btn-own-style btn-lg text-uppercase py-3">Crystals</a>
                <a href="" class="btn btn-own-style btn-lg text-uppercase py-3">Readings</a>
            </div>
        </div>
    </div>
{% endblock %}

