{% extends "base.html" %}
{% load static %}

{% block page_header%}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <section class="index-img"></section>
    <section class="mystic-section fade-in">
        <h2 class="mystic-heading text-center">Explore the Unknown</h2>
        <!-- <div class="h-100 text-center"> -->

            <div class="card-row">
                <div class="mystic-card">
                    <img src="https://unknown-possibilities.s3.eu-north-1.amazonaws.com/media/light-seer.png" alt="Mystic Card">
                    <div class="mystic-content">
                        <h3 class="mystic-title">TarotCards</h3>
                        <p class="mystic-text">Discover guidance through classic tarot. Your past, present and future.
                        </p>
                        <button class="btn-mystic">Read More</button>
                    </div>
                </div>
                <div class="mystic-card">
                    <img src="https://unknown-possibilities.s3.eu-north-1.amazonaws.com/media/rune-1.png" alt="Mystic Card">
                    <div class="mystic-content">
                        <h3 class="mystic-title">Runes</h3>
                        <p class="mystic-text">From ancient Norse wisdom – the runes speak of power, balance and
                            destiny.</p>
                        <button class="btn-mystic">Read More</button>
                    </div>
                </div>
                <div class="mystic-card">
                    <img src="https://unknown-possibilities.s3.eu-north-1.amazonaws.com/media/crystals.png" alt="Mystic Card">
                    <div class="mystic-content">
                        <h3 class="mystic-title">Crystals</h3>
                        <p class="mystic-text">Healing and energy. Choose the crystal that calls to you.</p>
                        <button class="btn-mystic">Read More</button>
                    </div>
                </div>
                <div class="mystic-card">
                    <img src="https://unknown-possibilities.s3.eu-north-1.amazonaws.com/media/reading-1.png" alt="Mystic Card">
                    <div class="mystic-content">
                        <h3 class="mystic-title">Readings</h3>
                        <p class="mystic-text">.</p>
                        <button class="btn-mystic">Read More</button>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </section>
{% endblock %}