<!DOCTYPE html>
<html>
  <body>
    <h2>Hi {{ order.full_name }},</h2>
    <p>Thank you for your order <strong>#{{ order.order_number }}</strong>!</p>

    <p><strong>Order Details:</strong></p>
    <ul>
      {% for item in order.lineitems.all %}
      <li>
        {{ item.product.name }} - Qty: {{ item.quantity }} -
        Price: {{ item.lineitem_total|floatformat:2 }} {{ order.get_currency_display }}
        {% if item.booking_date %}
          <br>📅 {{ item.booking_date }} at 🕒 {{ item.booking_time }} ({{ item.session_length }} mins)
        {% endif %}
      </li>
      
      {% endfor %}
    </ul>

    <p><strong>Total:</strong> {{ order.grand_total|floatformat:2 }} {{ order.get_currency_display }}</p>

    <hr>
    <p>We’ll notify you when your items are on the way.</p>
    <p>Best regards,<br>Unknown Possibilities</p>
  </body>
</html>

<!-- This template is used to send an order confirmation email to the customer after they complete their purchase.
  It includes the order number, total amount, and a thank you message.
  The design is simple and clean, with a focus on readability and user experience.
   The use of emojis adds a friendly touch to the communication. -->